@page
@using TheTodoWeb.Pages;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TheTodoRazerApp</h1>
    <p>Click to goto ToDoList</p>
    <p><a class="btn btn-primary" asp-page="/ToDoList/UnCompletedToDoList">ToDoList</a></p>
</div>
